{% extends 'main.html' %}

{% block title %}Main page{% endblock title %}

{% block cart %}
{% include 'header-cart.html' %}
{% endblock cart %}

{% block content %}
    <h2 class="display-6 text-center mb-4">Our products</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        {% for i in products %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ i.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ i.price }}&#20803;</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>In stock: {{i.stock}}</li>
                    </ul>
                    <button onclick="location.href='add/{{ i.id }}'" type="button"
                            class="w-100 btn btn-lg btn-outline-primary" value="{{i.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
