{% extends 'main.html' %}

{% block title %}Order detail{% endblock title %}

{% block cart %}
{% include 'header-cart.html' %}
{% endblock cart %}

{% block content %}

            <h2 class="display-6 text-center mb-1">Order {{ order.id }}</h2>
                <h4 class="text-center mb-4">{{ order.created }}</h4>
            {% if order|length > 0 %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Sum</th>
                </tr>
                </thead>
                {% for item in order.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <td>{{ order.total }}</td>
                </tr>
                </tfoot>
            </table>
            {% else %}
            <center>You don't have orders</center>
            {% endif %}

{% endblock content %}
